<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.emerginggames.snappers"
      android:versionCode="17"
      android:versionName="1.06"
      android:installLocation="auto"
        >
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- for updates by HockeyApp, for TapJoy -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- for ACRA, TODO: remove on production -->
    <!--<uses-permission android:name="android.permission.READ_LOGS"/>-->

    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="13"/>
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:name="com.emerginggames.snappers.SnappersApplication"
                 android:theme="@style/appTheme"
            >

        <activity android:name=".SplashGdxActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SelectLevelActivity" android:screenOrientation="portrait"/>
        <activity android:name=".GameActivity" android:screenOrientation="portrait" />
        <activity android:name=".StoreActivity" android:screenOrientation="portrait"/>
        <activity android:name=".SelectPackActivity" android:screenOrientation="portrait"/>
        <activity android:name=".MainScreenActivity" android:screenOrientation="portrait"/>
        <activity android:name=".MoreGamesActivity" android:screenOrientation="portrait"/>

        <activity android:name="com.google.ads.AdActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>

        <activity android:name="net.hockeyapp.android.UpdateActivity" />

        <activity android:name="org.acra.CrashReportDialog"
                  android:theme="@android:style/Theme.Dialog"
                  android:launchMode="singleInstance"
                  android:excludeFromRecents="true"
                  android:finishOnTaskLaunch="true" />

        <activity android:name="com.tapjoy.TJCVirtualGoods" android:configChanges="keyboardHidden|orientation" />
        <activity android:name="com.tapjoy.DownloadVirtualGood" android:theme="@android:style/Theme.Dialog" android:configChanges="keyboardHidden|orientation" android:launchMode="singleTask" />
        <activity android:name="com.tapjoy.TJCOffersWebView" android:configChanges="keyboardHidden|orientation" />
        <activity android:name="com.tapjoy.TapjoyFeaturedAppWebView" android:configChanges="keyboardHidden|orientation" />
        <activity android:name="com.tapjoy.TapjoyVideoView" android:configChanges="keyboardHidden|orientation" />


        <service android:name="com.emerginggames.snappers.utils.BillingService" />

        <receiver android:name="com.emerginggames.snappers.utils.BillingReceiver">
            <intent-filter>
                <action android:name="com.android.vending.billing.IN_APP_NOTIFY" />
                <action android:name="com.android.vending.billing.RESPONSE_CODE" />
                <action android:name="com.android.vending.billing.PURCHASE_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <receiver android:name = "com.amazon.inapp.purchasing.ResponseReceiver" >
            <intent-filter>
                <action android:name = "com.amazon.inapp.purchasing.NOTIFY"
                        android:permission = "com.amazon.inapp.purchasing.Permission.NOTIFY" />
            </intent-filter>
        </receiver>

    </application>

</manifest>